/* At-Rules */
@charset "iso-8859-1";

BODY {background-color:#31F5F3;scrollbar-base-color:#59B3D1;scrollbar-face-color:#31F5F3;scrollbar-shadow-color:#3791c0;scrollbar-highlight-color:#53F7F5;scrollbar-3dlight-color:#75F9F7;scrollbar-darkshadow-color: #1570a0;scrollbar-track-color:#31F5F3;scrollbar-arrow-color:#000000;}

.mainmenu {position: absolute; z-index: 10;top:98;left:0;height:16;width:100%;background-color:#1EE698;}

.bodytable {position: absolute; z-index: 10;top:145;left:0;height:16;width:100%;}

FONT {color:#000000;font:10px verdana;}

FONT.menu {color:#3333ff;}

FONT.newtitle {font:16px verdana; color:000000;font-weight:bolder;}

FONT.words1 {font:10px verdana; color:#666666;}

FONT.words2 {font:12px verdana; color:#333333;font-weight:bolder;}

FONT.words3 {font:10px verdana; color:000000;}

FONT.screeniewords {font:13px verdana; color:000000;}

FONT.sigfont {font:10px verdana; color:#999999;}

FONT.datefont {font:12px verdana; color:000000;font-weight:bolder;}

FONT.copyright {font:10px verdana; color:#000000;}

FONT.lgshipdesigners {font:10px verdana; color:000000;}

FONT.error {font:12px verdana; color:#ff2222;}

FONT.red {font:12px verdana; color:#ff0000;}

A:link {font:15px verdana;text-decoration:none;color:#000000;font-weight: bold;}

A:visited {font:15px verdana;text-decoration:none;color:#000000;font-weight:bold;}

A:hover {font:15px verdana;text-decoration:none;color:000000;font-weight: bold;}

A:active {font:15px verdana;text-decoration:none;color:000000;font-weight: bold;}

A:link.shipdesigners {font:10px verdana; color:000000;}

A:visited.shipdesigners {font:10px verdana; color:000000;}

A:hover.shipdesigners {font:10px verdana; color:000000;}

A:active.shipdesigners {font:10px verdana; color:000000;}

A:link.bigyellow {text-decoration:none;font:12px verdana; color:000000;font-weight:bolder}

A:visited.bigyellow {text-decoration:none;font:12px verdana; color:000000;font-weight:bolder}

A:hover.bigyellow {text-decoration:none;font:12px verdana; color:000000;font-weight:bolder;}

A:active.bigyellow {text-decoration:none;font:12px verdana; color:000000;font-weight:bolder}

A:link.links {font:14px verdana; color:000000;font-weight: bold;text-decoration:underline;}

A:visited.links {font:14px verdana; color:000000;font-weight: bold;text-decoration:underline;}

A:hover.links {font:14px verdana; color:000000;font-weight: bold;text-decoration:underline;}

A:active.links {font:14px verdana; color:000000;font-weight: bold;text-decoration:underline;}

.menuline1 {background-color:#0dd476;}

.menuline2 {background-color: #0bb253;}

TABLE.sotw {border:0;border-color: #aaaa00;}

TD.sixsix {background-color:#0bb253;}

TD.fourfour {background-color:#0dd476;}

INPUT.input {background:#0dd476; border: 2px #000000; border-style:  solid;color:#31F5F3;;}

INPUT.submit {background:#0dd476; border: 2px #000000; border-style:  solid;color:#31F5F3;;}

TEXTAREA.textarea {border: 2px #000000; border-style:  solid;color:#31F5F3;background-color:#31F5F3;scrollbar-base-color:#59B3D1;scrollbar-face-color:#31F5F3;scrollbar-shadow-color:#3791c0;scrollbar-highlight-color:#53F7F5;scrollbar-3dlight-color:#75F9F7;scrollbar-darkshadow-color: #1570a0;scrollbar-track-color:#31F5F3;scrollbar-arrow-color:#000000;}

SELECT.select {border: 2px #000000; border-style:  solid;color:#31F5F3;background-color:#31F5F3;scrollbar-base-color:#59B3D1;scrollbar-face-color:#31F5F3;scrollbar-shadow-color:#3791c0;scrollbar-highlight-color:#53F7F5;scrollbar-3dlight-color:#75F9F7;scrollbar-darkshadow-color: #1570a0;scrollbar-track-color:#31F5F3;scrollbar-arrow-color:#000000;}

/* End of style section. Generated by AceHTML at 11/1/2002 4:38:53 PM */
