/* At-Rules */
@charset "iso-8859-1";

HTML{background:#000000;}

BODY {background:#000000;scrollbar-base-color:#eeee00;scrollbar-face-color:#eeee00;scrollbar-shadow-color:#a73a00;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#eeee00;scrollbar-darkshadow-color: #eeee00;scrollbar-track-color:#777700;scrollbar-arrow-color:#000000;
background-image:url(../images/maincss-bkgimg1.jpg);background-repeat:no-repeat;
}

.mainmenu {position: absolute; z-index: 10;top:98;left:0;height:16;width:100%;background-color:#eeee00;}

.bodytable {position: absolute; z-index: 10;top:145;left:0;height:16;width:100%;}

FONT {color:#aaaaaa;font:10px verdana;}

FONT.menu {color:#000000;}

FONT.newtitle {font:16px verdana; color:#eeee00;font-weight:bolder;}

FONT.words1 {font:10px verdana; color:#888888;}

FONT.words2 {font:12px verdana; color:#888888;font-weight:bolder;}

FONT.words3 {font:10px verdana; color:#eeee00;}

FONT.screeniewords {font:13px verdana; color:#eeee00;}

FONT.sigfont {font:10px verdana; color:#555555;}

FONT.datefont {font:12px verdana; color:#eeee00;font-weight:bolder;}

FONT.copyright {font:10px verdana; color:#666666;}

FONT.lgshipdesigners {font:10px verdana; color:#eeee00;}

FONT.error {font:12px verdana; color:#ff2222;}

FONT.red {font:12px verdana; color:#ff0000;}

A:link {font:15px verdana;text-decoration:none;color:#000000;font-weight: bold;}

A:visited {font:15px verdana;text-decoration:none;color:#000000;font-weight:bold;}

A:hover {font:15px verdana;text-decoration:none;color:#eeee00;background-color:#000000;font-weight: bold;}

A:active {font:15px verdana;text-decoration:none;color:#eeee00;background-color:#000000;font-weight: bold;}

A:link.shipdesigners {font:10px verdana; color:#eeee00;}

A:visited.shipdesigners {font:10px verdana; color:#eeee00;}

A:hover.shipdesigners {font:10px verdana; color:#eeee00;}

A:active.shipdesigners {font:10px verdana; color:#eeee00;}

A:link.bigyellow {text-decoration:none;font:12px verdana; color:#eeee00;font-weight:bolder}

A:visited.bigyellow {text-decoration:none;font:12px verdana; color:#eeee00;font-weight:bolder}

A:hover.bigyellow {text-decoration:none;font:12px verdana; color:#eeee00;font-weight:bolder;background-color:#000000}

A:active.bigyellow {text-decoration:none;font:12px verdana; color:#eeee00;font-weight:bolder}

A:link.links {font:14px verdana; color:#eeee00;font-weight: bold;text-decoration:underline;}

A:visited.links {font:14px verdana; color:#eeee00;font-weight: bold;text-decoration:underline;}

A:hover.links {font:14px verdana; color:#eeee00;font-weight: bold;text-decoration:underline;}

A:active.links {font:14px verdana; color:#eeee00;font-weight: bold;text-decoration:underline;}

.menuline1 {background-color: #eeee00;}

.menuline2 {background-color: #aaaa00;}

TABLE.sotw {border-color:#ffff00;}

TD.sixsix {background-color:#666666;}

TD.fourfour {background-color:#444444;}

INPUT.input {background:#000000; border: 2px #000000; border-style:  solid;color:#eeee00;}

INPUT.submit {background:#ff0000; border: 2px #000000; border-style:  solid;color:#000000;}

TEXTAREA.textarea {border: 2px #000000; border-style:  solid;color:#eeee00;background-color:#000000;scrollbar-base-color:#eeee00;scrollbar-face-color:#eeee00;scrollbar-shadow-color:#a73a00;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#eeee00;scrollbar-darkshadow-color: #eeee00;scrollbar-track-color:#777700;scrollbar-arrow-color:#000000;}

SELECT.select {border: 2px #000000; border-style:  solid;color:#eeee00;background-color:#000000;scrollbar-base-color:#eeee00;scrollbar-face-color:#eeee00;scrollbar-shadow-color:#a73a00;scrollbar-highlight-color:#ffffff;scrollbar-3dlight-color:#eeee00;scrollbar-darkshadow-color: #eeee00;scrollbar-track-color:#777700;scrollbar-arrow-color:#000000;}

/* End of style section. Generated by AceHTML at 11/1/2002 4:38:53 PM */
