/* At-Rules */
@charset "iso-8859-1";

BODY {background-color:#396BA5;scrollbar-base-color:#D6D6CE;scrollbar-face-color:#D6D6CE;scrollbar-shadow-color:#000000;scrollbar-highlight-color:#dfdfdf;scrollbar-3dlight-color:#D6D6CE;scrollbar-darkshadow-color: #848484;scrollbar-track-color:#ECECDF;scrollbar-arrow-color:#000000;}

.mainmenu {position: absolute; z-index: 10;top:98;left:0;height:16;width:100%;background-color:#D6D3CE;}

.bodytable {position: absolute; z-index: 10;top:145;left:0;height:16;width:100%;}

FONT {color:#000000;font:10px verdana;}

FONT.menu {color:#000000;}

FONT.newtitle {font:16px verdana; color:#000000;font-weight:bolder;}

FONT.words1 {font:10px verdana; color:#111111;}

FONT.words2 {font:12px verdana; color:#111111;font-weight:bolder;}

FONT.words3 {font:10px verdana; color:#000000;}

FONT.screeniewords {font:13px verdana; color:#000000;}

FONT.sigfont {font:10px verdana; color:#bbbbbb;}

FONT.datefont {font:12px verdana; color:#111100;font-weight:bolder;}

FONT.copyright {font:10px verdana; color:#555555;}

FONT.lgshipdesigners {font:10px verdana; color:#111100;}

FONT.error {font:12px verdana; color:#ffffff;}

FONT.red {font:12px verdana; color:#ff0000;background-color:#000000;}

A:link {font:15px verdana;text-decoration:none;color:#000000;font-weight: bold;}

A:visited {font:15px verdana;text-decoration:none;color:#000000;font-weight:bold;}

A:hover {font:15px verdana;text-decoration:none;color:#000000;background-color:#B2B4BF;font-weight: bold;}

A:active {font:15px verdana;text-decoration:none;color:#000000;background-color:#B2B4BF;font-weight: bold;}

A:link.shipdesigners {font:10px verdana; color:#111100;}

A:visited.shipdesigners {font:10px verdana; color:#111100;}

A:hover.shipdesigners {font:10px verdana; color:#111100;}

A:active.shipdesigners {font:10px verdana; color:#111100;}

A:link.bigyellow {text-decoration:none;font:12px verdana; color:#111100;font-weight:bolder}

A:visited.bigyellow {text-decoration:none;font:12px verdana; color:#111100;font-weight:bolder}

A:hover.bigyellow {text-decoration:none;font:12px verdana; color:#111100;font-weight:bolder;}

A:active.bigyellow {text-decoration:none;font:12px verdana; color:#111100;font-weight:bolder}

A:link.links {font:14px verdana; color:#111100;font-weight: bold;text-decoration:underline;}

A:visited.links {font:14px verdana; color:#111100;font-weight: bold;text-decoration:underline;}

A:hover.links {font:14px verdana; color:#111100;font-weight: bold;text-decoration:underline;}

A:active.links {font:14px verdana; color:#111100;font-weight: bold;text-decoration:underline;}

A:hover.copyrightlinks {background-color:#396DA5;}

A:active.copyrightlinks {background-color:#396DA5;}

.menuline1 {background-color:#D6D3CE;}

.menuline2 {background-color:#D6D3CE;}

TABLE.sotw {border:0;border-color:#ffff00;}

TD.sixsix {background-color: #dfdfdf;}

TD.fourfour {background-color: #ababab;}

INPUT.input {background:#ababab; border: 2px #000000; border-style:  solid;color:#000000;}

INPUT.submit {background:#dfdfdf; border: 2px #000000; border-style:  solid;color:#000000;}

TEXTAREA.textarea {border: 2px #000000; border-style:  solid;color:#dfdfdf;background-color:#396BA5;scrollbar-base-color:#D6D6CE;scrollbar-face-color:#D6D6CE;scrollbar-shadow-color:#000000;scrollbar-highlight-color:#dfdfdf;scrollbar-3dlight-color:#D6D6CE;scrollbar-darkshadow-color: #848484;scrollbar-track-color:#ECECDF;scrollbar-arrow-color:#000000;}

SELECT.select {border: 2px #000000; border-style:  solid;color:#dfdfdf;background-color:#396BA5;scrollbar-base-color:#D6D6CE;scrollbar-face-color:#D6D6CE;scrollbar-shadow-color:#000000;scrollbar-highlight-color:#dfdfdf;scrollbar-3dlight-color:#D6D6CE;scrollbar-darkshadow-color: #848484;scrollbar-track-color:#ECECDF;scrollbar-arrow-color:#000000;}

/* End of style section. Generated by AceHTML at 11/13/2002 10:33:00 PM */
