DirectoryIndex index.php
ErrorDocument 400 /ssd/errordocs/basicerror.php
ErrorDocument 401 /ssd/errordocs/basicerror.php
ErrorDocument 403 /ssd/errordocs/basicerror.php
ErrorDocument 404 /ssd/errordocs/basicerror.php
ErrorDocument 500 /ssd/errordocs/basicerror.php